<div class="area">
	<h1>Book detail</h1>

	<table border="0">
		<tr>
			<td><%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></td>
			<td><%= @book.title %></td>
			<td><%= @book.opinion %></td>
		</tr>
	</table>
</div>